@use "../variables";
@use "../mixins";

form[name="contact"] {
  max-width: 550px;
  margin: 30 auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .form-control {
    border-radius: 6px;
  }

  .btn-primary {
    padding: 0.6rem 1.5rem;
  }
}

.contact__icon {
  color: variables.$color-acent-p3;
  font-size: 3rem;
  margin-bottom: 10px;
}