@use "../variables";
@use "../mixins";

@layer layout {
    .home-container {
        max-width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;

        .home__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home__title {
            padding: 20px 10;
            background-color: variables.$color-primary;
            color: variables.$color-primary-contrast;
        }

        .home__location {
            line-height: 2em;
        }

        .home__corner {
            display:none;
            background-color: variables.$color-primary;
        }

        .home__date {
            text-transform: uppercase;
            background-color: variables.$color-primary;
            color: variables.$color-primary-contrast;
            
            p {
                margin: 0;
            }
        }

        .home_about {
            line-height: 1.3;
            margin-bottom: 1em;
        }

        .home__description {
            padding: 20px 10px;
            background-color: variables.$color-info;
            color: variables.$color-primary-contrast;
        }
    }

    @supports(display: grid) {
        @media (min-width: 42em) and (min-height: 27em) {
            .home-container {
                display: grid;
                grid-template-columns:
                    2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr)
                    30em fit-content(28em) calc(3em + 0.5vw);
                grid-template-rows: 35vh 40vh 15vh 10vh;  
            }

            .home__title {
                grid-column: 3 / 7;
                grid-row: 1 / 2;
                z-index: 2;
                margin: 30px 40px;
                text-align: start;
                align-self: start;
            }

            .home__image {
                grid-column: 1 / 4;
                grid-row: 1 / 4;
            }

            .home__location {
                background-color: white;
                grid-column: 3 / 4;
                grid-row: 3 / 4;
                z-index: 2;
            }

            .home-container .home__corner {
                display: block;
                grid-row: 1 / 2;
                grid-column: 7 / 8;
            }

            .home__date {
                grid-row: 2 / -1;
                grid-column: 7 / 8;
                writing-mode: vertical-rl;
                margin-bottom: initial;
                display: flex;
                align-items: center;
                font-weight: bold;
            }

            .home__description {
                grid-column: 3 / 6;
                grid-row: 2 / 3;
                align-self: start;
                text-align: start;
                margin-right: 30px;
                margin-bottom: initial;
            }
        }
    }
}