@layer layout {
    .home-container {
        max-width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;

        .home__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .home_location {
            line-height: 2em;
        }

        .home__date {
            text-transform: uppercase;
            font-size: calc(1em + 0.5vw);
            color: red;
            margin-bottom: 1em;
        }

        .home_about {
            line-height: 1.3;
            margin-bottom: 1em;
        }
    }

    @supports(display: grid) {
        @media (min-width: 42em) and (min-height: 27em) {
            .home-container {
                display: grid;
                grid-template-columns:
                    2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr)
                    fit-content(28em) calc(2em + 0.5vw);
                grid-template-rows: 35vh 40vh 15vh 10vh;  
            }

            .home__title {
                grid-column: 3 / 6;
                grid-row: 1 / 2;
                z-index: 2;
                padding-left: 0.25em;
                margin-bottom: initial;
            }

            .home__image {
                grid-column: 1 / 4;
                grid-row: 1 / 4;
            }

            .home_location {
                background-color: white;
                grid-column: 3 / 4;
                grid-row: 3 / 4;
                z-index: 2;
            }

            .home__date {
                grid-row: 1 / -1;
                grid-column: 6 / 7;
                writing-mode: vertical-rl;
                margin-bottom: initial;
                color: red;
            }

            .home__description {
                grid-column: 5 / 6;
                grid-row: 2;
                align-self: end;
                padding-bottom: 4vh;
                margin-bottom: initial;
            }
        }
    }
}