@use "../variables";
@use "../mixins";

@layer layout {
    .main-container {
        max-width: 100%;
    }

    .home-container {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;

        .home__title {
            padding: 20px 10px;
            margin: 0;
            background-color: variables.$color-primary;
            color: variables.$color-primary-contrast;
        }

        .home__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            margin: 20px auto;
        }

        .home__location {
            line-height: 2em;
            padding: 20px 10;
        }

        .home__location-message {
            line-height: 1.3rem;
        }

        .home__location-image {
            width: 100%;
            height: auto;
            margin-top: 10px;
        }

        .home__corner {
            display:none;
            background-color: variables.$color-success;
        }

        .home__date {
            text-transform: uppercase;
            background-color: variables.$color-success;
            color: variables.$color-primary;
            
            p {
                margin: 0;
            }
        }

        .home__description {
            padding: 20px 10px;
            margin: 0 auto;
            background-color: variables.$color-info;
            color: variables.$color-primary-contrast;
        }
    }

    @supports(display: grid) {
        @media (min-width: 42em) and (min-height: 27em) {
            .home-container {
                display: grid;
                grid-template-columns:
                    2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr)
                    fit-content(30em) fit-content(28em) calc(3em + 0.5vw);
                grid-template-rows: 35vh 40vh 15vh fit-content(200px);

                :is(.home__title, .home__location, .home__description) {
                    margin: 30px 40px;
                    text-align: start;
                    align-self: start;
                    z-index: 2
                }

                .home__title {
                    grid-column: 3 / 7;
                    grid-row: 1 / 2;
                }

                .home__image {
                    grid-column: 1 / 4;
                    grid-row: 1 / 4;
                    margin: 0px auto;
                }

                .home__corner {
                    display: block;
                    grid-row: 1 / 2;
                    grid-column: 7 / 8;
                }

                .home__location {
                    grid-column: 3 / 7;
                    grid-row: 3 / 5;
                    background-color: variables.$color-primary;
                    color: variables.$color-primary-contrast;
                    container-type: inline-size;
                    container-name: location-container;
                }

                .home__location-body {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                .home__location-message {
                    flex: 1;
                }

                .home__location-image {
                    width: 30cqw;
                    max-height: 100%;

                    @container location-container (width > 400px) {
                        width: 40cqw;
                    }

                    @container location-container (width > 400px) {
                        width: 60cqw;
                    }
                }

                .home__date {
                    grid-row: 2 / -1;
                    grid-column: 7 / 8;
                    writing-mode: vertical-rl;
                    margin-bottom: initial;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                }

                .home__description {
                    grid-column: 3 / 6;
                    grid-row: 2 / 3;
                    max-width: 100%;
                    margin-bottom: initial;
                }
            }
        }
    }
}