@use "../variables";
@use "../mixins";

@layer media {
  .media-container {
    padding: 0;
    max-width: 100%;
  }

  .media-post {
    background: variables.$color-background;
    text-align: start;

    &__hero {
      position: relative;
      aspect-ratio: 4/3;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(1.4px);
      }
    }

    &__hero-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 2rem 1.5rem;
      color: white;
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
      background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    }

    &__title {
      font-size: 1.8rem;
      font-weight: 800;
      line-height: 1.2;
      margin: 0 0 0.5rem 0;
      letter-spacing: -0.5px;
    }

    &__author {
      font-size: 0.95rem;
      margin: 0;
      opacity: 0.9;
    }

    &__date {
      display: block;
      font-size: 0.85rem;
      margin-top: 0.5rem;
      opacity: 0.8;
    }

    &__image {
      width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
    }

    &__body {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 1.5rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    &__section {
      margin-bottom: 2.5rem;
    }

    &__location {
      display: flex;
      flex-direction: column;
    }

    &__lead {
      font-size: 1.25rem;
      font-weight: 500;
      color: variables.$color-primary;
      line-height: 1.6;
      margin: 0;
      text-align: start;
      padding: 15px 0 0 0;
    }

    &__intro {
      padding: 0;
    }
  }
}

@include mixins.respond-desktop {

  .media-post__hero {
    aspect-ratio: 9/3;
  }

  .media-post__title {
    font-size: 3.2rem;
  };

  .media-post__author {
    font-size: 1.2rem;
  }

  .media-post__image {
    max-width: 400px;
  }

  .media-post__intro {
      padding: 2rem 0;
  }

  .media-post__content {
    flex-direction: row;
  }

  .media-post__location {
    flex-direction: row;
  }
}