@use "../variables";
@use "../mixins";

.media-post {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: start;

  &__hero {
    aspect-ratio: 14/9;
    overflow: hidden;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      filter: blur(2px);
    }
  }

  &__title {
    font-size: 2.1rem;
  }

  &__author {
    font-size: 1.1rem;
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
}

@include mixins.respond-desktop {
  
  .media-post__hero {
    aspect-ratio: 9/3;
  }

  .media-post__title {
    font-size: 3.2rem;
  };

  .media-post__author {
    font-size: 1.2rem;
  }

  .media-post__image {
    max-width: 400px;
  }
}