@use "../variables";
@use "../mixins";

.media-post {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: start;

  &__hero {
    aspect-ratio: 9/3;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(2px);
      }
    }

    &__title {
      font-size: 1.5rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    &__author {
      font-size: 1.2rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }

    &__image {
      width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
    }
}


@include mixins.respond-desktop {
  
  .media-post__image {
    max-width: 400px;
  }
}