<div>
    <h1>Cocina Pacense</h1>
    <ul>
        <li>
            <a href="./index.html">
                <i aria-hidden="true" class="site-footer__icon fas fa-home"></i>
                Inicio
            </a>
        </li>
        <li>
            <a href="./speakers.html">
                <i aria-hidden="true" class="site-footer__icon fas fa-microphone"></i>
                Ponentes
            </a>
        </li>
        <li>
            <a href="./media.html">
                <i aria-hidden="true" class="site-footer__icon fas fa-newspaper"></i>
                Nota de Prensa
            </a>
        </li>
        <li>
            <a href="./contact.html">
                <i aria-hidden="true" class="site-footer__icon fas fa-address-book"></i>
                Contacto
            </a>
        </li>
    </ul>
</div>