<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    Cocina Pacense
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i aria-hidden="true" class="site-footer__icon fas fa-home"></i>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="speakers.html">
          <i aria-hidden="true" class="site-footer__icon fas fa-microphone"></i>
          Ponentes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="media.html">
          <i aria-hidden="true" class="site-footer__icon fas fa-newspaper"></i>
          Nota de Prensa
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">
          <i aria-hidden="true" class="site-footer__icon fas fa-address-book"></i>
          Contacto
        </a>
      </li>
    </ul>
  </div>
</nav>