/**
 * Import any npm dependencies in this file
 * see commented examples below
 */
 
// Import custom variables first
@import "variables";

// Import 3rd party dependencies
@import "npm:@fortawesome/fontawesome-free/css/all.css";
@import "bootstrap/scss/bootstrap";