@use "sass:color";

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;


// Cocina Pacense Color Palatte
$color-background: #FFFAFF;
$color-background-contrast: #050401;

$color-primary: #303036;
$color-primary-contrast: #F0F0F0;

$color-secondary: #CECECE;
$color-secondary-contrast: #FFFFFF;

$color-success: #28a743;
$color-danger: #FC5130;
$color-warning: #FFC107;
$color-info: #17a2b8;

// Captcha colors (RGB)
$captcha-red-rgb: rgb(230, 56, 54);
$captcha-blue-rgb: rgb(31, 135, 230);
$captcha-green-rgb: rgb(66, 161, 71);
$captcha-yellow-rgb: rgb(252, 217, 54);
$captcha-purple-rgb: rgb(143, 36, 171);
$captcha-orange-rgb: rgb(242, 140, 38);

// Captcha colors (display-p3)
$captcha-red: color(display-p3 0.9 0.22 0.21);
$captcha-blue: color(display-p3 0.12 0.53 0.9);
$captcha-green: color(display-p3 0.26 0.63 0.28);
$captcha-yellow: color(display-p3 0.99 0.85 0.21);
$captcha-purple: color(display-p3 0.56 0.14 0.67);
$captcha-orange: color(display-p3 0.95 0.55 0.15);

// Bootstrap theme colors
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "success": $color-success,
  "danger": $color-danger,
  "warning": $color-warning,
  "info": $color-info,
  "dark": $color-primary,
);

// Bootstrap Alert colors
$info-bg-subtle: $color-primary-contrast;
$info-border-subtle: $color-secondary;
$info-text-emphasis: $color-primary;

// Bootstrap Navbar colors
$navbar-dark-color: $color-primary-contrast;
$navbar-dark-hover-color: white;
$navbar-dark-active-color: white;
$navbar-dark-brand-color: $color-primary-contrast;
$navbar-dark-brand-hover-color: white;

// Bootstrap navbar menu button
.navbar-toggler {
  border: none;
  background: transparent;
  background-color: transparent;
  padding: 0;

  &:focus,
  &:active,
  &:hover {
    box-shadow: none;
    background: transparent;
    background-color: transparent;
  }
}