@use "sass:color";

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;


// Cocina Pacense Color Palatte
$color-background: #FFFAFF;
$color-background-contrast: #050401;

$color-primary: #303036;
$color-primary-contrast: #f0f0f0;

$color-secondary: #30BCED;
$color-secondary-contrast: #ffffff;

$color-success: #28a745;
$color-danger: #FC5130;
$color-warning: #FFC107;
$color-info: #17a2b8;



// Bootstrap theme colors
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "success": $color-success,
  "danger": $color-danger,
  "warning": $color-warning,
  "info": $color-info,
  "dark": $color-primary,
);

// Bootstrap Navbar colors
$navbar-dark-color: $color-primary-contrast;
$navbar-dark-hover-color: white;
$navbar-dark-active-color: white;
$navbar-dark-brand-color: $color-primary-contrast;
$navbar-dark-brand-hover-color: white;