/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

 /**
 * Import dependencies
 */
@use "dependencies";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@use "layouts/reset";
@use "layouts/defaults";
@use "layouts/home";
@use "layouts/header";
@use "layouts/speakers";
@use "layouts/speaker-card";
@use "layouts/media";
@use "layouts/contact";

 /**
 * Define layers cascade
 */
@layer bootstrap, reset, defaults, layout, component;
